<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>mapCache</display-name>
    <filter>
        <filter-name>JspEncoding</filter-name>
        <filter-class>mapcatche.filters.JspEncoding</filter-class>
        <init-param>
          <param-name>encoding</param-name>
          <param-value>UTF-8</param-value>
      </init-param>
    </filter>
    <filter-mapping>
        <filter-name>JspEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <display-name>maptile</display-name>
        <servlet-name>maptile</servlet-name>
        <jsp-file>/ajax/maptile.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>mapcatche.business.impl.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>mapcatche.business.impl.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>mapcatche.business.impl.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>maptile</servlet-name>
        <url-pattern>/maptile/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>cacheconfig</display-name>
        <servlet-name>cacheconfig</servlet-name>
        <jsp-file>/ajax/cacheconfig.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>cacheconfig</servlet-name>
        <url-pattern>/cacheconfig</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>mapconfig</display-name>
        <servlet-name>mapconfig</servlet-name>
        <jsp-file>/ajax/mapconfig.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>mapconfig</servlet-name>
        <url-pattern>/mapconfig</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>impmapres</display-name>
        <servlet-name>impmapres</servlet-name>
        <jsp-file>/ajax/impmapres.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>impmapres</servlet-name>
        <url-pattern>/mapinfotodb</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>maptask</display-name>
        <servlet-name>maptask</servlet-name>
        <jsp-file>/ajax/maptask.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>maptask</servlet-name>
        <url-pattern>/maptask</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>tiletodb</display-name>
        <servlet-name>tiletodb</servlet-name>
        <jsp-file>/ajax/tiletodb.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>tiletodb</servlet-name>
        <url-pattern>/tiletodb</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <display-name>dbconected</display-name>
        <servlet-name>dbconected</servlet-name>
        <jsp-file>/ajax/dbconect.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>dbconected</servlet-name>
        <url-pattern>/dbconected</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <display-name>maptree</display-name>
        <servlet-name>maptree</servlet-name>
        <jsp-file>/ajax/maptree.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>maptree</servlet-name>
        <url-pattern>/maptree</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <display-name>downtiles</display-name>
        <servlet-name>downtiles</servlet-name>
        <jsp-file>/ajax/downtiles.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>downtiles</servlet-name>
        <url-pattern>/downtiles</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <display-name>downtask</display-name>
        <servlet-name>downtask</servlet-name>
        <jsp-file>/ajax/downtask.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>downtask</servlet-name>
        <url-pattern>/downtask</url-pattern>
    </servlet-mapping>
    
    
    
    
    
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <!--    
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
        
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
